@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Scriptin;
    src: url('./assets/fonts/signature/SCRIPTIN.ttf');
}


.profile-picture-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.profile-picture-img {
    width: 100px;
    border-radius: 50%;
    min-height: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;   
}

.items-end {
    display: flex;
    justify-content: flex-end;
}

.button-with-icon i {
    margin-right: 0.1rem;
}

.button-with-icon.btn-lg i {
    font-size: 1.1rem;
}

.btn {
    border-radius: 2px !important;
}

.auth-button {
    font-size: 16px !important;
}

.fixed-top {
    z-index: 10 !important;
}

.center-input input {
    text-align: center;
}

label {
    margin-bottom: 0;
}

.pdf-input-element {
    padding-left: 3px;
    width: 100%;
    height: calc(100% - 17px);
    padding-right: 3px;
}

.mantine-Modal-close {
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    top: -4px;
    right: 7px;
}

input {
    color: black !important;
}

::placeholder {
    color: #b5baca !important;
}

::-webkit-input-placeholder {
    color: #b5baca !important;
}

::-ms-input-placeholder {
    color: #b5baca !important;
}

.pdf-input-element::placeholder {
    @apply text-gray-600;
}

.pdf-input-element::-webkit-input-placeholder {
    @apply text-gray-600;
}

.pdf-input-element.pdf-input-element-filled {
    background-color: #fff;
    color: #000;
}

.pdf-input-element:focus {
    background-color: #fff;
    color: #000;
}

.pdf-form-input-date input::placeholder {
    @apply text-gray-600;
}

.pdf-form-input-date input::-webkit-input-placeholder {
    @apply text-gray-600;
}

.pdf-form-input-date .mantine-DatePicker-wrapper {
    margin-top: -3px;
}

.pdf-form-input-date.pdf-form-input-date-filled .mantine-DatePicker-wrapper {
    margin-top: -5px;
}

.signature-font-scriptin {
    font-family: Scriptin;
}

.sigCanvas {
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
}

.agreement-button {
    width: 150px;
    @apply h-11;
}

.client-logo-text {
    font-size: 22px;
    font-weight: bold;
}